<div class="content-wrapper">
    <div class="container my-5">
        <div class="row">
          <div class="col-12">
            <div class="alert alert-danger" [hidden]="!hasError">
              {{ errorMessage }}
            </div>
            <div class="alert alert-success" [hidden]="!success">
              {{ errorMessage }}
            </div>
          </div>
          <div class="col">
            <table class="table table-bordered">
              <thead class="bg-dark text-light">
              <tr>
                <th width="20%">Id заказа</th>
                <th>Название</th>
                <!-- <th>Описание</th> -->
                <th>Цена одного товара</th>
                <th>Кол-во</th>
                <th>Пользователь</th>
                <th>Статус</th>
                <th>Действие</th>
              </tr>
              </thead>
      
              <tbody>
              <tr *ngFor="let o of orders">
                <td>{{ o.id }}</td>
                <td>{{ o.title }}</td>
                <!-- <td>{{ o.description }}</td> -->
                <td>{{ o.price | currency:'&#x20bd;'}}</td>
                <td>{{ o.quantityOrdered }}</td>
                <td [ngSwitch]="o.status">
                  <!-- the same view can be shown in more than one case -->
                  <ng-container *ngSwitchCase="0">Ожидает подтверждения</ng-container>
                  <ng-container *ngSwitchCase="1">Подтвержден</ng-container>
                  <ng-container *ngSwitchDefault>N/A</ng-container>
                </td>
                <td>{{ o.username }}</td>
                <td *ngIf="o.status == 0">
                  <button class="btn btn-sm btn-danger" (click)="confirmOrder(o.id)">Подтвердить выполнение заказа</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>    
</div>
